@model HRPortal.UI.Models.ViewPoliciesVM

@{
    ViewBag.Title = "Manage Policies Index";
}

<h2>Manage Policies Index</h2>
<div>
    @Html.ActionLink("Add a New Policy", "AddNewPolicy", "Policy", null, new {@class = "btn btn-primary"})
</div>
<br/>
<div>
    @using (@Html.BeginForm("ManagePoliciesInCategory", "Policy", FormMethod.Post))
    {
        <p> </p> //Must insert Line break
        <p>Edit Policies in the Following Categories:</p>
        <p>@Html.DropDownListFor(m => m.PolicyCategories, Model.PolicyCategoriesList)</p>
        <button class="btn btn-primary">Manage the Policies in the Above Category</button>
    }
</div>
    <br />
    <div>
        @Html.ActionLink("Return to Policy Index Page", "Index", "Policy", null, new { @class = "btn btn-warning" })
    </div>
