@model HRPortal.UI.Models.ViewPoliciesVM

@{
    ViewBag.Title = "View Categories";
}

<h2>View Categories</h2>
<div>
    @using (Html.BeginForm("ViewAllPolicies", "Policy", FormMethod.Post))
    {
        <p>Select a Category to View: @Html.DropDownListFor(m => m.PolicyCategory.Category, Model.PolicyCategoriesList)</p>

        <button class="btn btn-success">Continue</button>
    }
</div>
<br />
<div>
    @Html.ActionLink("Return to Policy Index Page", "Index", "Policy", null, new { @class = "btn btn-warning" })
</div>