@model HRPortal.Models.Resume

@{
    ViewBag.Title = "Applicant Main Page";
}

<h2>Welcome to the Application Page!</h2>

<div>
    <!--may add ID to null-->
    @Html.ActionLink("Create A New Application", "CreateApp", "Applicant", null, new { @class = "btn btn-primary" })
</div>