
@{
    ViewBag.Title = "SG Corp HR Portal";
}

<h2>Welcome to SG Corp HR Portal!</h2>

<div>
    <!--may add ID to null-->
    @Html.ActionLink("Applicant", "Index", "Applicant", null, new {@class = "btn btn-primary"})
</div>
<br/>
<div>
    @Html.ActionLink("Admin", "Index", "Admin", null, new {@class = "btn btn-primary"})
</div>

<br />
<div>
    @Html.ActionLink("Policy Management", "Index", "Policy", null, new { @class = "btn btn-primary" })
</div>
